
/* Main */

.nav-item a,
.btn,
.start-tittle,
.subsription-tittle,
.plan-tittle
 {
    font-family: 'DM Sans', sans-serif;
}

.start-text {
 font-family: 'Mulish', sans-serif;
}

.main_section {
    display: flex;
    flex-direction: column; 
    margin-bottom: 85px;
}

.header-container {
    width: 1170px;
    height: 145px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

header {
    width: 100%;
    background: rgba(255, 113, 67, 0.27);
}

.nav-item {
    display: inline-block;
}

.nav-item:not(:first-of-type) {
    margin-left: 50px;
}

.nav-item a:hover {
    cursor: pointer;
    color: #19191B;
    transition: all 0.2s;
}
.nav-item a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
}

.btn {
    width: 210px;
    padding: 19px 0;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;  
    text-align: center;
    letter-spacing: -0.531474px;
    color: #fff;
    cursor: pointer;

}

.btn-orange {
    background: #FF7143;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-orange:hover {
    background: #FF794E;
    transition: all 0.2s;
}

.start-container {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    margin-top: 54px;    
    display: flex;
    justify-content: space-around;
}

.start-tittle {
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
}

.start-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    margin-top: 30px;
    margin-bottom: 50px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-blue {
    background: #5454D4;
}

.btn-white {
    background: #fff;
    border: 1px solid #5454D4;
    color: #5454D4;
}

/* Subsription */

.subsription-section {
    height: 100%;
    margin-bottom: 125px;
    
}

.subscription-container {
    width: 1170px;
    height: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.subsription-tittle {
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
}

.user-email {
    width: 302px;
    padding: 21px 0 21px 14px;
    border-radius: 10px;
    border: 1px solid #7087FF;
    margin-right: 40px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;
}

/* plan section */

.plan-section {
    display: flex;
    flex-direction: column;
}

.plan-container {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 132px;
}

.plan-tittle {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-bottom: 98px;
}

.plan-items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plan-item {
    width: 330px;
    padding: 34px 0 27px 0;
    background: #F8F8F8;
    border-radius: 10px;
}

.plan-item-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.562737px;
    color: #696871;
}

.plan-item-tittle {
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -1.03448px;
    color: #1D293F; 
    margin-top: 22px;
    margin-bottom: 28px;
}

.plan-item-list {


    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #696871;
    border: none;
}
.plan-btn {    
    width: 285px;
    height: 60px;
    padding: 19px 42px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    margin-top: 33px;

    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #5454D4;
}

.main-plan-item {
   background: #FF7143;
   box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);

}

.main-plan-tittle,
.main-plan-list {
    color: #fff;
}
.main-plan-text {
    color: rgba(255, 255, 255, 0.7);
}
.main-plan-btn{
    background: #9F3919;
    border: none;
    color: #fff;
}

.main-plan-btn:hover {
    background:#FF927B;
    transition: all 0.2s;
}

/* footer */


.footer {
    width: 100%;
    background: rgba(255, 113, 67, 0.27);
}


.footer-container {
    width: 1170px;
    height: 145px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav-items li {
    display: inline-block;
}

